button.boton::before {
    content:"PASA POR ENCIMA";
}
.boton:hover {
    color: white;
    background-color: green;
}
.boton:active::before{
    background-color:chocolate;
    content:"HECHO" !important;

}
